@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap");
/*Reset*/
* {
  padding: 0;
  margin: 0px;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection {
  background-color: #64c29e;
  color: #fff;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection {
  background-color: #64c29e;
  color: #fff;
}

/*--------------------*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  display: none;
}

html, body {
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

.stop {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  position: absolute;
  top: 35px;
  z-index: 10;
}
.header__row {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (max-width: 400px) {
  .header__logo {
    height: 60px;
  }
  .header__logo img {
    height: 100%;
  }
}

.menu {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__list li {
  padding: 0 37.5px;
}
.menu__list li:nth-child(2) {
  padding: 0 110px 0 37.5px;
}
.menu__list li:nth-child(3) {
  padding: 0 37.5px 0 110px;
}
.menu__link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #4d4959;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link:hover {
  color: #64c29e;
}
@media (max-width: 767px) {
  .menu__body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    overflow: auto;
    padding-top: 150px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .menu__body.by-scroll {
    -webkit-transform: translateY(calc(-100% + 70px));
            transform: translateY(calc(-100% + 70px));
  }
  .menu__body.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__list li {
    padding: 0 0 35px 0;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0 0 35px 0;
  }
  .menu__link {
    color: #fff;
    font-size: 20px;
  }
}

.burger-menu {
  display: none;
}
@media (max-width: 767px) {
  .burger-menu {
    display: block;
    position: absolute;
    top: 0px;
    right: 35px;
    z-index: 10;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .burger-menu span {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #64c29e;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger-menu span:first-child {
    top: 0;
  }
  .burger-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .burger-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger-menu.active span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .burger-menu.active span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
}

.intro {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}
.intro__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.fixed {
  position: fixed;
  top: 0px;
}
.fixed .header__logo {
  height: 60px;
  padding: 5px 0 0 0;
}
.fixed .header__logo img {
  height: 100%;
}
.fixed .menu__link {
  color: #fff;
}
.fixed .menu__link:hover {
  color: #64c29e;
}
.fixed .burger-menu {
  top: 25px;
  right: 25px;
}

@media (min-width: 768px) {
  .fixed-background {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
}
.about {
  background-color: #f7f7f7;
  padding: 120px 0;
  /* 
      &__block {
  } 
      */
}
@media (max-width: 900px) {
  .about {
    padding: 80px 0;
  }
}
@media (max-width: 600px) {
  .about {
    padding: 30px 0;
  }
}

.block {
  text-align: center;
}
.block__icon {
  margin: 0px 0px 33px 0px;
}
.block__title {
  font-size: 18px;
  font-weight: 700;
  color: #353738;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}
.block__text {
  font-size: 18px;
  color: #848789;
  line-height: 35px;
}
.block__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}
.block__text_j::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #ebebeb;
  display: block;
  margin: 30px auto 0 auto;
}
@media (max-width: 1500px) {
  .block__text_j::after {
    margin: 15px auto 0 auto;
  }
}

.works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1100px) {
  .works__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.works__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.works__column_big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}
.works__content {
  padding: 70px 65px 55px 65px;
  position: relative;
}
.works__content::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: auto;
  bottom: -10px;
  left: calc(50% - 10px);
  z-index: 5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.works__image {
  padding: 0 0 37.5% 0;
}
@media (max-width: 1500px) {
  .works__content {
    padding: 40px 35px 30px 35px;
  }
}
@media (max-width: 1100px) {
  .works_last .works__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .works_last .works__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .works_last .works__column:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.item {
  display: block;
  height: 100%;
  position: relative;
}
.item__work {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.item__logo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(100, 194, 158, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item__logo p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  padding: 14px 0 0 0;
}
.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1100px) {
  .item {
    height: auto;
    padding: 70% 0 0 0;
  }
}

.slider-bg {
  background-color: #f7f7f7;
}

.slider {
  padding: 120px 0 70px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slider * ::-moz-selection {
  background-color: rgba(53, 55, 56, 0);
  color: rgb(132, 135, 137);
}
.slider * ::selection {
  background-color: rgba(53, 55, 56, 0);
  color: rgb(132, 135, 137);
}
.slider * :hover {
  cursor: default;
}
.slider__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  padding: 0 0 80px 0;
}
.slider__item {
  width: 100%;
  text-align: center;
}
.slider__icon {
  padding: 0 0 36px 0;
}
.slider__title {
  font-size: 18px;
  font-weight: 700;
  color: #353738;
  letter-spacing: 3px;
  padding: 0 0 25px 0;
}
.slider__title span {
  font-size: 18px;
  font-weight: 300;
  color: #848789;
}
.slider__text {
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  color: #848789;
}
.slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__dots .active-dot {
  background-color: #a9afb3;
}
.slider__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #a9afb3;
  margin: 0 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slider__dot:hover {
  border: none;
  background-color: #a9afb3;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
@media (max-width: 1100px) {
  .slider {
    padding: 80px 0 70px 0;
  }
  .slider__row {
    padding: 0 0 40px 0;
  }
}

.shop_column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop__footer {
  text-align: center;
  background-color: #282f35;
  padding: 75px 0;
}
.shop__btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 55px;
  border: 1px solid #94979a;
  background-color: rgba(100, 194, 158, 0);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.shop__btn:hover {
  border: none;
  background-color: #64c29e;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
@media (max-width: 1100px) {
  .shop__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shop_column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 370px) {
  .shop__footer {
    padding: 45px 0;
  }
  .shop__btn {
    padding: 14px 20px;
  }
}

.block-shop {
  height: 100%;
}
.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-shop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.block-shop__item {
  height: auto;
  padding: 50% 0 0 0;
}
.block-shop__item_b {
  padding: 202% 0 0 0;
}
.block-shop__item_l {
  padding: 100% 0 0 0;
}

.subscribe__body {
  max-width: 534px;
  margin: 0 auto;
  padding: 110px 0;
  text-align: center;
}
.subscribe__logo {
  margin: 0 0 40px 0;
}
.subscribe__label {
  display: inline-block;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  color: #848789;
  margin: 0 0 30px 0;
}
.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 8px 0 0;
}
.subscribe__input input {
  width: 100%;
  height: 69px;
  border: 1px solid #d3d7d9;
  background-color: #fff;
  padding: 0 28px;
  font-size: 20px;
  font-style: italic;
  color: #929292;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.subscribe__input input:focus {
  font-style: normal;
  color: #383838;
}
.subscribe__input input:focus::-webkit-input-placeholder {
  color: #383838;
}
.subscribe__input input:focus::-moz-placeholder {
  color: #383838;
}
.subscribe__input input:focus:-ms-input-placeholder {
  color: #383838;
}
.subscribe__input input:focus::-ms-input-placeholder {
  color: #383838;
}
.subscribe__input input:focus::placeholder {
  color: #383838;
}
.subscribe__input input.error {
  border: 1px solid red;
  -webkit-box-shadow: 0 0 6px red;
          box-shadow: 0 0 6px red;
}
.subscribe__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 px;
          flex: 0 0 px;
}
.subscribe__btn {
  width: 126px;
  height: 69px;
  background-color: #64c29e;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.subscribe__btn:hover {
  background-color: #282f35;
}
@media (max-width: 440px) {
  .subscribe__body {
    padding: 60px 0;
  }
  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__input {
    width: 100%;
    padding: 0 0 8px 0;
  }
  .subscribe__button {
    width: 100%;
  }
  .subscribe__btn {
    width: 100%;
  }
}

.footer {
  background-color: #f7f7f7;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}
.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.footer__text {
  font-size: 14px;
  color: #848789;
  line-height: 18px;
}
.footer__text h4 {
  font-weight: 700;
}
@media (max-width: 1100px) {
  .footer__row {
    padding: 50px 0;
  }
}
@media (max-width: 600px) {
  .footer__row {
    padding: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__column {
    padding: 20px 0;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__link {
  margin: 0 7.5px;
}

.dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dev__author {
  font-size: 14px;
  font-style: italic;
  color: #848789;
  padding: 0 9px 0 0;
}